# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/


# IDE
.idea/
.vscode/


# OS
.DS_Store
Thumbs.db


# Data & secrets
.env
*.xls
*.xlsx
data/
!data/.gitkeep


# Reports/Artifacts
reports/
coverage.xml
.htmlcov/
.pytest_cache/
.mypy_cache/